.albumpg-empty-card{
    background:white;

    border-radius:24px;

    padding:80px;

    text-align:center;

    color:#64748b;

    box-shadow:
    0 10px 30px rgba(0,0,0,.04);
}
@media (max-width:768px){

    .albumpg-empty-card{

        padding:0;

        background:white;

        box-shadow:
    0 10px 30px rgba(0,0,0,.04);

        border-radius:0;

        text-align: center;
        
    }

}
